bcrypt==4.2.1
darkdetect==0.8.0
et_xmlfile==2.0.0
openpyxl==3.1.5
PyQt6==6.8.0
PyQt6-Charts==6.8.0
PyQt6-Charts-Qt6==6.8.1
PyQt6-Fluent-Widgets==1.7.3
PyQt6-Frameless-Window==0.4.3
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
